// FOOTER::START
footer.footer
  .container
    .row
      .col-sm-6
        i.ico.ico-logo.hidden-sm-up
        .footer__desc BitFire Mining provides Bitcoin, Zcash and Ethereum cloud mining to users around the world
        i.ico.ico-logo.hidden-sm-down
      .col-sm-4
        .footer__nav
          .footer__nav__title Sections
          a(href="#sectionTop") Home 
          a(href="#sectionAbout") About us
          a(href="#sectionHow") How it works
          a(href="#sectionPricing") Pricing     
        .footer__nav
          .footer__nav__title Topics
          a(href="#sectionTop") Home 
          a(href="#sectionAbout") About us
          a(href="#sectionHow") How it works
          a(href="#sectionPricing") Pricing   
      .col-sm-2
        .footer__logos
          i.ico.ico-visa
          i.ico.ico-mastercard
          
          i.ico.ico-ssl
            span SSL
              span Secure
    .row
      .col-sm-6
        .footer__copy
          | Crypto24 s.r.o. All Right reserved. <a href="#">Privacy Policy</a>  |  <a href="#">Terms and conditions</a>
      .col-sm-6
        .footer__socials
          | Find us on social medias
          a(href="#")
            i.ico.ico-fb
          a(href="#")
            i.ico.ico-tw
              
              
        

// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="js/libs/wow.js")  
script(src="js/main.js")
//endbuild
