// FOOTER::START
footer.footer
  .container
    .row
      .col-sm-12

// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="js/libs/wow.js")  
script(src="js/main.js")
//endbuild
