// HEADER::START
header.header
  .container
    .row
      .col-sm-12
        a(href="#")
          i.ico.ico-logo
            
        button.hamburger.hamburger--squeeze(type='button').hidden-sm-up
          span.hamburger-box
            span.hamburger-inner
        .header__menu.hidden-sm-down
          a(href="#").active.hidden-md-down Home
          a(href="#") About us
          a(href="#") How it works
          a(href="#") Pricing    
          a(href="#").btn.btn-yellow Free trial 
          a(href="#") Login
