doctype html
html
  include shared/head.pug

  body
    .preloader
      .preloader__wrapper
        .preloader__animation
        
    include shared/header.pug
    
    // HERO
    .hero#sectionTop
      video(width='100%', height='auto', autoplay='autoplay', loop='loop', preload='auto')
        source(src='video/1914622.mp4')
        // source(src='video/video.webm', type='video/webm')
      .container
        .row
          .col-sm-12.text-center
            .hero__content.wow.fadeInUpBig(data-wow-delay=".3s")
              .hero__title Easiest way to mine bitcoin
              .hero__subtitle Register now and get <span>free 100gb/s</span> trial
              .hero__buttons
                a(href='#').btn.btn-cta start mining now !
                .hero__buttons__sep or
                a(href='#').btn.btn-ghost login
            
            a(href='#sectionAbout').hero__down
              .hero__down__wrap.wow.fadeInUp(data-wow-delay="2s")
                i.ico.ico-arrow-down
    
    // ABOUT
    .about#sectionAbout
      .container
        .row
          .col-sm-12.text-center
            .section-title Why should you choose bitfire cloud mining ? 
        .row
          .col-md-9
            .row
              .col-sm-6
                .about__block.wow.fadeInLeft
                  .about__block__icon
                    i.ico.ico-about-1
                  .about__block__content
                    .about__block__name Instant setup
                    .about__block__description Mining power will be activated at the moment of contract payment. No need to wait for lenghty hardware delivery
                .about__block.wow.fadeInLeft
                  .about__block__icon
                    i.ico.ico-about-2
                  .about__block__content
                    .about__block__name Real time statistics
                    .about__block__description Our easy-to-use control panel provides you real-time data about your contract, payments and withdrawals
              .col-sm-6
                .about__block.wow.fadeInRight
                  .about__block__icon
                    i.ico.ico-about-3
                  .about__block__content
                    .about__block__name 100% uptime
                    .about__block__description Mine 24/7 without any interruptions! We cover all hardwave failtures, servicing and warranty repairs
                .about__block.wow.fadeInRight
                  .about__block__icon
                    i.ico.ico-about-4
                  .about__block__content
                    .about__block__name No hassle 
                    .about__block__description Mining at home isn’t easy. Faaulty miners, internet connection problems, electricity problems, burnt fuses and breakers, excess heat production, difficult miner settings - not with us!
                      
          .col-md-3
            .about__image.wow.fadeInRightBig(data-wow-delay="1s")
              img(src="images/mbp.png")
          
    // CTA SEPARATOR
    .separate.wow.fadeInUpBig(data-wow-delay=".3s")
      a(href='#').btn.btn-cta register now
            
    // HOW IT WORKS
    .how#sectionHow
      .container
        .row
          .col-sm-12.text-center
            .section-title How it works? 
        .row
          .col-sm-12
            i.ico.ico-how-bg.wow.fadeInUp
          //- .col-sm-3
          //-   .how__icon.how__icon--first
          //-     i.ico.ico-how-1
          //- .col-sm-3.text-center
          //-   .how__icon.how__icon--second
          //-     i.ico.ico-how-2
          //- .col-sm-3.text-center
          //-   .how__icon.how__icon--third
          //-     i.ico.ico-how-3
          //- .col-sm-3.text-center
          //-   .how__icon.how__icon--fourth
          //-     i.ico.ico-how-4
                
        .row
          .col-sm-3
            .how__block.wow.fadeInUp(data-wow-delay=".25s")
              .how__icon.hidden-sm-up
                i.ico.ico-how-1
              .how__content
                .how__name Register
                .how__description Take few moments to register a new account on BitFire. Don’t forget to confirm your email address
          .col-sm-3
            .how__block.wow.fadeInUp(data-wow-delay=".5s")
              .how__icon.hidden-sm-up
                i.ico.ico-how-2
              .how__content
                .how__name Purchase a contract
                .how__description Select contract type and amount of hashpower that suits your needs. You can start small if you want and buy more later
          .col-sm-3
            .how__block.wow.fadeInUp(data-wow-delay=".75s")
              .how__icon.hidden-sm-up
                i.ico.ico-how-3
              .how__content
                .how__name Monitor your miner
                .how__description After receiving your payment, mining will start instantly. You will get credited once a day
          .col-sm-3
            .how__block.wow.fadeInUp(data-wow-delay="1s")
              .how__icon.hidden-sm-up
                i.ico.ico-how-4
              .how__content
                .how__name No hussle
                .how__description Just setup your Bitcoin/Ethereum/ZCash wallet and withdraw your mined coins in manner of seconds
                
    // CTA
    .cta#sectionCta.wow.fadeInUp
      .container
        .row
          .col-sm-12.text-center
            .section-title.section-title--white Hard Enough ?
            .cta__description Register now to get access to your personal dashboard. It’s compleatly free, without any risk <br> Also, as a new user, you will get free trial hashrate, so you can get familiar with  the mining concepts
            a(href="#").btn.btn-cta register Now !
    
    // PRICING
    .pricing#sectionPricing
      .container
        .row
          .col-sm-12.text-center  
            .section-title Pricing
        .row
          .col-sm-4.col-md-3
            .pricing__block.pricing__block--bitcoin.wow.fadeInLeft
              .pricing__block__name Bitcoin v1
              .pricing__block__icon
                i.ico.ico-bitcoin
              .pricing__block__price
                span $0.085
                | /Ghs
              .pricing__block__description
                span <span>100 Ghs</span> hashrate
                span No miner downtime
                span 2 year contract
                span Low maintanace fee
                span Daily payouts
                span In stock
                
              .pricing__block__button
                a(href="#").btn Purchase now
          // next col
          .col-sm-4.col-md-3
            .pricing__block.pricing__block--bitcoin.wow.fadeInLeft
              .pricing__block__name Bitcoin v2
              .pricing__block__icon
                i.ico.ico-bitcoin
              .pricing__block__price
                span $0.160
                | /Ghs
              .pricing__block__description
                span <span>100 Ghs</span> hashrate
                span No miner downtime
                span 2 year contract
                span Low maintanace fee
                span Daily payouts
                span In stock
                
              .pricing__block__button
                a(href="#").btn Purchase now
          // next col
          .col-sm-4.col-md-3
            .pricing__block.pricing__block--ethereum.wow.fadeInRight
              .pricing__block__name Ethereum
              .pricing__block__icon
                i.ico.ico-ethereum
              .pricing__block__price
                span N/A
                | /Mhs
              .pricing__block__description
                span <span>100 Ghs</span> hashrate
                span No miner downtime
                span 2 year contract
                span Low maintanace fee
                span Daily payouts
                span Comming Q2 2017
                
              .pricing__block__button
                a(href="#").btn Comming soon
          // next col
          .col-sm-4.col-md-3.col-sm-offset-4.col-md-offset-0
            .pricing__block.pricing__block--zcash.wow.fadeInRight
              .pricing__block__name ZCash
              .pricing__block__icon
                i.ico.ico-zcash
              .pricing__block__price
                span N/A
                | /Sols
              .pricing__block__description
                span <span>100 Ghs</span> hashrate
                span No miner downtime
                span 2 year contract
                span Low maintanace fee
                span Daily payouts
                span Comming Q2 2017
                
              .pricing__block__button
                a(href="#").btn Comming soon
                
    include shared/footer.pug
